<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icons -->
    <link rel="icon" href="~/images/fevicon/fevicon.png" type="image/gif" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/stil")
    @Scripts.Render("~/bundles/modernizr")



</head>
<body id="default_theme" class="it_service">
    <!-- loader -->
    <!-- end loader -->
    <!-- header -->
    <header id="default_header" class="header_style_1">
        <!-- header top -->
        <div class="header_top">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="full">
                            <div class="topbar-left">
                                <ul class="list-inline">
                                    <li> <span class="topbar-label"><i class="fa  fa-home"></i></span> <span class="topbar-hightlight">540 Lorem Ipsum New York, AB 90218</span> </li>
                                    <li> <span class="topbar-label"><i class="fa fa-envelope-o"></i></span> <span class="topbar-hightlight"><a href="mailto:info@yourdomain.com">info@yourdomain.com</a></span> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 right_section_header_top">
                        <div class="float-left">
                            <div class="social_icon">
                                <ul class="list-inline">
                                    <li><a class="fa fa-facebook" href="https://www.facebook.com/" title="Facebook" target="_blank"></a></li>
                                    <li><a class="fa fa-google-plus" href="https://plus.google.com/" title="Google+" target="_blank"></a></li>
                                    <li><a class="fa fa-twitter" href="https://twitter.com" title="Twitter" target="_blank"></a></li>
                                    <li><a class="fa fa-linkedin" href="https://www.linkedin.com" title="LinkedIn" target="_blank"></a></li>
                                    <li><a class="fa fa-instagram" href="https://www.instagram.com" title="Instagram" target="_blank"></a></li>
                                </ul>
                            </div>
                        </div>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        </div>
        <!-- end header top -->
        <!-- header bottom -->
        <div class="header_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <!-- logo start -->
                        <div class="logo"> <a href='@Url.Action("Index","Home")'><img src="~/images/logos/it_logo.png" alt="logo" /></a> </div>
                        <!-- logo end -->
                    </div>
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <!-- menu start -->
                        <div class="menu_side">
                            <div id="navbar_menu">
                                <ul class="first-ul">
                                    <li>
                                        
                                        @Html.ActionLink("Дома", "Index", "Home", new { area = ""},new { @class="active"})
                                    </li>
                                    <li><a href="it_about.html">За нас</a></li>
                                    <li>
                                        <a href="it_service.html">Сервис</a>
                                    </li>


                                    <li>
                                        @Html.ActionLink("Листа на продукти", "Index", "Products")
                                        <ul>
                                            <li>
                                                @Html.ActionLink("Листа на продукти", "Index", "Products")
                                            </li>
                                            <li><a href=@Url.Action("Index","ShoppingCart",null)>Кошничка</a></li>
                                            <li><a href="it_checkout.html">Купи</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="it_contact.html">Контакт</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="search_icon">
                                <ul>
                                    <li><a href="#" data-toggle="modal" data-target="#search_bar"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- menu end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header bottom end -->
    </header>
    <!-- end header -->
    <!-- section -->
    <!-- end section -->
    <!-- section -->
    <!-- end section -->
    <!-- section -->
    <!-- end section -->
    <!-- section -->
    <div class="section padding_layout_1">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <!-- end section -->
    <!-- section -->
    <!-- end section -->
    <!-- section -->
    <!-- end section -->
    <!-- Modal -->
    <div class="modal fade" id="search_bar" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8 offset-lg-2 offset-md-2 offset-sm-2 col-xs-10 col-xs-offset-1">
                            <div class="navbar-search">
                                <form action="#" method="get" id="search-global-form" class="search-global">
                                    <input type="text" placeholder="Type to search" autocomplete="off" name="s" id="search" value="" class="search-global__input">
                                    <button class="search-global__btn"><i class="fa fa-search"></i></button>
                                    <div class="search-global__note">Begin typing your search above and press return to search.</div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Model search bar -->
    <!-- footer -->
    <footer class="footer_style_2">
        <div class="container-fuild">
            <div class="row">
                <div class="footer_blog">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="main-heading left_text">
                                <h2>It Next Theme</h2>
                            </div>
                            <p>Tincidunt elit magnis nulla facilisis. Dolor sagittis maecenas. Sapien nunc amet ultrices, dolores sit ipsum velit purus aliquet, massa fringilla leo orci.</p>
                            <ul class="social_icons">
                                <li class="social-icon fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li class="social-icon tw"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li class="social-icon gp"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <div class="main-heading left_text">
                                <h2>Additional links</h2>
                            </div>
                            <ul class="footer-menu">
                                <li><a href="it_about.html"><i class="fa fa-angle-right"></i> About us</a></li>
                                <li><a href="it_term_condition.html"><i class="fa fa-angle-right"></i> Terms and conditions</a></li>
                                <li><a href="it_privacy_policy.html"><i class="fa fa-angle-right"></i> Privacy policy</a></li>
                                <li><a href="it_news.html"><i class="fa fa-angle-right"></i> News</a></li>
                                <li><a href="it_contact.html"><i class="fa fa-angle-right"></i> Contact us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <div class="main-heading left_text">
                                <h2>Services</h2>
                            </div>
                            <ul class="footer-menu">
                                <li><a href="it_data_recovery.html"><i class="fa fa-angle-right"></i> Data recovery</a></li>
                                <li><a href="it_computer_repair.html"><i class="fa fa-angle-right"></i> Computer repair</a></li>
                                <li><a href="it_mobile_service.html"><i class="fa fa-angle-right"></i> Mobile service</a></li>
                                <li><a href="it_network_solution.html"><i class="fa fa-angle-right"></i> Network solutions</a></li>
                                <li><a href="it_techn_support.html"><i class="fa fa-angle-right"></i> Technical support</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <div class="main-heading left_text">
                                <h2>Contact us</h2>
                            </div>
                            <p>
                                123 Second Street Fifth Avenue,<br>
                                Manhattan, New York<br>
                                <span style="font-size:18px;"><a href="tel:+9876543210">+987 654 3210</a></span>
                            </p>
                            <div class="footer_mail-section">
                                <form>
                                    <fieldset>
                                        <div class="field">
                                            <input placeholder="Email" type="text">
                                            <button class="button_custom"><i class="fa fa-envelope" aria-hidden="true"></i></button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cprt">
                    <p>ItNext © Copyrights 2020</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- js section -->
    <!-- map js -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
